.root {
  width: 150px;
  border-top: 2px solid lightcoral;
  border-bottom: 2px solid lightcoral;
  border-left: 2px solid lightcoral;
  border-right: 2px solid lightcoral;
}

.floor {
  height: 150px;
  border-top: 2px solid lightcoral;
  border-bottom: 2px solid lightcoral;
  border-left: 2px solid lightcoral;
  border-right: 2px solid lightcoral;
  background: bisque;
}
