.root {
  width: 100px;
  border-top: 2px solid lightcoral;
  border-bottom: 2px solid lightcoral;
  border-left: 2px solid lightcoral;
  border-right: 2px solid lightcoral;
  position: relative;
}

.floor {
  height: 150px;
  border-top: 2px solid lightcoral;
  border-bottom: 2px solid lightcoral;
  border-left: 2px solid lightcoral;
  border-right: 2px solid lightcoral;
}
